* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: url("./assets/backgrounds/h_img.jpg");
  background-position: center;
  height: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "l l l l l l l l l l l l" "w w w w w w w w w w w w" "c c c c c c c c c c c c";
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: l;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .welcome {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: w;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header .welcome #welcome_1 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  margin-top: 38px;
}

header .welcome #welcome_2 {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
}

header .welcome #welcome_3 {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

header .click {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: c;
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 20px auto;
}

main {
  text-align: center;
}

main .about_us h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

main .about_us p {
  line-height: 40px;
}

main .services {
  background-image: url("./assets/backgrounds/s_image.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 300px;
}

main .services h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

main .services p {
  line-height: 40px;
}

main .what_we_do h1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

main .what_we_do .icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .what_we_do .icons .services_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .portfolio {
  width: 90vw;
  margin: 0 auto;
}

main .portfolio h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}

main .portfolio .portfolio_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .portfolio .portfolio_items .items {
  width: 220px;
  margin: 0 auto;
}

main .portfolio .portfolio_items .items img {
  width: 200px;
  margin: auto;
}

main .contact_us {
  background-image: url("./assets/backgrounds/c_image.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
}

main .contact_us h1 {
  color: white;
}

main .contact_us form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact_us .email {
  min-width: 100px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.61);
  background-color: transparent;
  color: white;
}

main .contact_us #message {
  min-width: 40vw;
  height: 200px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.61);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: transparent;
  color: white;
}

footer {
  text-align: center;
}

footer .social_icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}

footer .social_icons .footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=index.css.map */